* {
  font-family: CaskaydiaCove Nerd Font Mono;
  font-size: 13px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background: #282828;
  color: #ebdbb2;
}

#workspaces button {
  padding: 0 8px;
  background: transparent;
  color: #928374;
  border-bottom: 2px solid transparent;
}

#workspaces button.active {
  color: #d79921;
  border-bottom: 2px solid #d79921;
}

#workspaces button:hover {
  background: #3c3836;
}

#window,
#clock,
#cpu,
#memory,
#network,
#pulseaudio {
  padding: 0 10px;
  margin: 0 2px;
}

#clock {
  color: #ebdbb2;
}

#cpu {
  color: #8ec07c;
}

#memory {
  color: #d3869b;
}

#network {
  color: #83a598;
}

#pulseaudio {
  color: #fabd2f;
}
